.dialog-input-section-repeat{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.dialog-input-repeat{
    width: 20%;
}
.dialog-select-repeat{
    width: 100%;
}
.info-29-30-31{
    color: #b4b4b4;
    font-size: 13px;
}