.list-element-container{
    display: flex;
    align-items: center;
    width: 226px;
    height: 45px;
    padding-left: 18px;
    border-radius: 4px;

}
.list-element-container:active{
    box-shadow:  3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.list-element-container span{
    margin-left: 13px;
}
.list-element-container:hover{
    background-color: #110144;
    transition: background-color 0.2s;
    cursor: pointer;
}
.list-element-container-selected{
    background-color: #3B2E75;
    color: white;
    transition: background-color 0.2s;
}
.list-element-container-selected:hover{
    background-color: #3B2E75; /* bez tego, po najechaniu uaktywnia sie hover dla .list-element-container */
}
.list-element-container-closed{
    padding-right: 18px;
    width: fit-content;

}