.transactions-container{
    background-color: white;
    margin: 25px 30px 30px 30px;
    padding: 22px;
    border-radius: 10px;
}
.transactions-add-new-transaction button{
    font-size: 14px;
    color: #9290C3;
    border: none;
    background-color: white;
    justify-self: flex-end;
    margin-bottom: 9px;
}
.transactions-add-new-transaction button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.transactions-top{
    display: flex;
    justify-content: flex-end;
}