.shopping-list-main-container{
    padding: 25px 30px 30px 30px;
    display: flex;
    gap: 16px;
    overflow: hidden;
}
.shopping-list-container{
    
    width: 55%;
    background-color: #fff;
    border-radius: 10px;
    min-height: 75vh;
    max-height: 75vh;
    padding: 0 22px;
}
.shopping-list-title-container{
    height: 15%;
    padding-top: 31px;
}
.shopping-list-title{
    font-size: 1.25em;
    margin-bottom: 0px;
}
.shopping-list-title-search-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.shopping-list-search{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #535C91;
    color: #535C91;
    font-size: 14px;
    background-image: url('search.svg');
    background-position: 5px 7px; 
    background-repeat: no-repeat;
    padding:  0 0 0 40px;
}
.shopping-list-right-panel{
    background-color: #fff;
    border-radius: 10px;
    max-height: 75vh;
    min-height: 75vh;
    width: 45%;
}
.shopping-list-items-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    height: calc(75vh - (38px + 15%));
    overflow-y: auto
}
.shopping-list{
    width: calc(100% - 64px);
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    padding: 32px 32px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 20%;
}
.all-shopping-lists-container{
    padding: 25px 150px 30px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.new-shopping-list-button{
    height: 40px;
    padding: 0 8px;
    width: auto;
    border: 1px solid #3B2E75;
    color: #3B2E75;
    border-radius: 10px;
    font-size: 1em;
}
