.dashboard-main-container{
    padding: 25px 30px 30px 30px;
}
.dashboard-right-panel-upper-content{
    display: flex;
    gap: 16px;
    /*height: calc(100% - 81px); szerokosc top bar + padding */
}
.dashboard-left-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 16px;
}
.dashboard-cash-chart{
    display: flex;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.dashboard-circular-charts-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.dashboard-circular-chart{
    width: 48%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}
.dashboard-right-container{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    height: 816px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dashboard-recent-transactions{
    padding: 38px 22px;
    background-color: white;
    height: 400px;
    border-radius: 10px;
    margin-top: 16px;
}
.circular-chart-name-container{
    padding-top: 31px;
    padding-left: 22px;
}
.circular-chart-name{
    font-size: 16px;
    color: #535C91;
}