*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.main-container{
    display: flex;
}
.left-panel{
    width: 18%;
    min-width: 300px;
    max-width: 420px;
    height: 100vh;
    background-color: #150156;
    color: white;
    padding: 40px 2% 0 2%;
}
.right-panel{
    width: 100%;
    background-color: #f5f5f5;
}